@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
}

input,
button:focus {
  outline: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.roboto-text {
  font-family: Roboto;
}

.silver-bg {
  background: #ecf0f1;
}

.main-text {
  margin: 10px 0 10px;
}

.search-block {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 10px;
  max-width: 100%;
}
@media (max-width: 599px) {
  .search-block {
    padding: 0 10px 0;
  }
}

.search-error {
  display: none;
  font-size: 12px;
  align-self: center;
  color: #d63031;
}

.search-bar {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 455px;
  height: 60px;
  padding: 5px;
  margin-bottom: 10px;
}

.search-bg {
  background: #c4c4c4;
}

.search-border {
  border-radius: 5px;
  border: 2px solid #bbbbbb;
}

.search-field {
  padding-left: 13px;
  width: 355px;
}

.search-button {
  width: 84px;
  transition: 0.5s all ease;
}

.btn-hover:hover {
  background: #808e9b;
  color: white;
}

.pointer {
  cursor: pointer;
}

.current-weather {
  display: none;
  flex-flow: column nowrap;
  padding: 25px 25px 15px;
  width: 290px;
  min-height: 450px;
}

.white-bg {
  background: white;
}

.current-weather-shadow {
  box-shadow: 0 0 2px gray;
}

.city-info {
  align-self: center;
  margin-bottom: 10px;
}

.temp-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 5px;
}

.temp-icon {
  height: auto;
  width: 60px;
}

.temp-info {
  font-size: 25px;
}

.weather-info {
  margin-bottom: 20px;
}

.date-info {
  margin-bottom: 15px;
}

.other-inf {
  display: grid;
  grid-template-columns: 85px auto;
  grid-template-rows: 50px repeat(5, 30px) 50px;
  border: 1px solid;
}

.other-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5px;
}

.title-block {
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.other-text {
  font-size: 14px;
}

.title {
  justify-self: end;
}

.description-block {
  border-bottom: 1px solid;
}

.day-weather-wrapper {
  margin-top: 10px;
  width: 100%;
  max-width: 520px;
  display: none;
}
@media (max-width: 599px) {
  .day-weather-wrapper {
    padding: 20px;
  }
}

.day-weather-block {
  margin-bottom: 10px;
}

.day-weather-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 7px;
  height: 30px;
}

.weather-header-bg {
  background-color: #2c3e50;
}

.white-color {
  color: white;
}

.three-hour-wrapper {
  display: grid;
  width: 100%;
  grid-auto-rows: auto;
}

.three-hour-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: 1px solid;
  padding-left: 5px;
  height: 55px;
  width: 100%;
}

.other-border {
  border-color: #dedede;
}

.day-temp-icon {
  height: auto;
  width: 45px;
}

.three-hour-weather {
  display: flex;
  flex-flow: column wrap;
  margin-left: auto;
  margin-right: 15px;
}

.three-hour-temp {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 150px;
  margin-bottom: 8px;
}

.weather-text {
  font-size: 13px;
}

.three-hour-temp-value {
  font-size: 11px;
}

.temp-value-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 16px;
  margin-right: 7px;
}

.choose-text {
  margin-bottom: 5px;
}

.location-button {
  border: none;
  width: 150px;
  margin-bottom: 20px;
  transition: 0.5s all ease;
}

.temp-radius {
  border-radius: 8px;
}

.github-icon {
  margin: 10px auto 10px 10px;
  font-size: 30px;
}

/*# sourceMappingURL=main.css.map */
